<div class="categories-new">

  <%= simple_form_for(@category) do |f| %>
  <h4>Add a new category</h4>
    <%= f.input :name, label: false, input_html: { placeholder: "The category name..." } %>
    <%= f.submit %>
  <% end %>
</div>
